# Do not version control (upload to github) the following files...

.DS_Store
*.m~
# *.mat
*.aux
*.log
*.out
*.txt
*.psd

# Ignore these folders completely

testdata
testdata/*
archive
archive/*
newcode
newcode/*
driversinstalls
driversinstalls/*
thorcam
thorcam/*